<!-- <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeXkY5J_hmbv1FFcWkDnZ_sCchYYVLCTo" async defer></script> -->
<!--<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false&key=AIzaSyCeXkY5J_hmbv1FFcWkDnZ_sCchYYVLCTo">
</script> -->
<!-- <script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false&key=AIzaSyAaTkeKW1CHaxRHMvip5cqVLpfar07JfNk">
</script> -->
<div id="contenido" class="row">
    <br>
    <div class="container">
      <div class="col-md-4">
        <div class="control-group">
          <div class="listImage" align="left"><img src="{{data.img}}" height="80" width="80"/></div>
        </div>
        <div class="title"><h2>{{data.name}} {{data.surname}}</h2></div>
        <div class="control-group">
            Positon: {{data.position}}
        </div>
        <div class="control-group">
            Description: {{data.description}}
        </div>
        <div class="control-group">
            Team: {{data.team}}
        </div>
        <div class="control-group">
            Appearances: {{data.appearances}}
        </div>
        <button ng-show="favoriteV" class="btn btn-primary btn-block" ng-click="addfavorite()">I like</button>
      </div>
      <div class="col-md-4">
        <div id='ubicacion'></div>
        <div id="demo">{{demo}}</div>
        <div id="mapholder"></div>
      </div>
    </div>
    <br/><br/></br>
    <div style="text-align: center;">
      <form id="comentario" name="comentario" class="contact-form">
        <div class="form-group">
            <label>Write here your comment</label>
            <textarea required ng-model="comments.comentario" ng-disabled="comentarioV" ng-pattern="/^.{10,200}$/" rows="6"
              class="form-control" name="comment" id="comment" placeholder="Comment..."></textarea>
            <span class="text-danger"
            ng-show="comentario.comment.$error.required && (comentario.comment.$dirty || comentario.comment.$touched)">El campo es obligatorio</span>
            <span class="text-danger" ng-show="comentario.comment.$error.pattern">Comentario no válido</span>
        </div>
        <div class="form-group">
          <input class="btn btn-primary" type="button" name="submit" id="submitBtn" value="Enviar"
                 ng-show="comentario.comment.$valid" ng-click="SubmitComment()"/>
        </div>
      </form>
      <br/><br/>
      <div class ="comment" ng-repeat="comment in filteredComments">
        <div class="username">
          <h4>{{comment.user}}</h4>
        </div>
        <div class="comment">
          Comentario: {{comment.comment}}
        </div>
        <hr/>
      </div>
      <p> Total Results: {{comments.length}} <p>
      <div id="pager">
          <uib-pagination class="pagination-sm pagination" total-items="comments.length" ng-model="currentPage"
          ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=3></uib-pagination>
      </div>
  </div>
</div>
