<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaTkeKW1CHaxRHMvip5cqVLpfar07JfNk" async defer></script> -->
<section id="main" class="wrapper">
    <div class="container">
        <header class="major">
            <h2>Players {{type}}</h2>
            <p>Here you can see the players</p>
        </header>

        <!-- Search players: <input type="text" class="filtre" ng-model="filtro" > -->
        <!-- <div id="map_canvas" style=" width: 1500px; height: 800px"></div> -->
        <br/>
        <div id='ubicacion'></div>
        <!-- Se escribe un mapa con la localizacion anterior-->
        <div id="demo">{{demo}}</div>
        <div id="mapholder" style="align: center"></div>
        <hr>
        <br/><br/><br/>
        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <div ng-app="myapp" >
          <!-- ng-controller="playersCtrl" -->
            <!-- Search events: <input type="text" class="filtre" ng-model="filtro" > -->
            <label>Search the players: </label>
            <input type="text" ng-model="text" ng-keyup="complete(text)" class="form-control"/>
            <ul class="list-group">
               <!-- ng-model="hidethis" ng-hide="hidethis" -->
              <li class="list-group-item" ng-repeat="all in filterPlayers | filter:text" id="{{all.id}}" ng-click="fillTextbox(all.name)">{{all.name}}</li>
            </ul>
            You selected {{text}}
        </div>
        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <hr>
        <!-- <p>{{player}}</p> -->
        <div class="image fit">

            <div class="players">
                <!-- <div class="of"  ng-repeat="of in filteredEvents| filter:filtro" id="{{of.id}}"> -->
                <div class="of"  ng-repeat="of in filteredPlayers | filter:text">
                    <div ng-click="select(of.id)">
                        <div class="listImage"><img src="{{of.img}}" class="icon-md" height="80" width="80"/></div>
                        <div class="name"><h3>{{of.name}}</h3></div>
                        <div class="surname"><h5>{{of.surname}}</h5></div>
                        <div class="position"> Position: {{of.position}}</div>
                        <div class="details" ><a href='#/players/{{of.id}}'>Ver más</a></div>
                        <hr>
                    </div>
                </div>
                <p> Total Results: {{player.length}} <p>
                <div id="pager">
                    <uib-pagination class="pagination-sm pagination" total-items="player.length" ng-model="currentPage"
                    ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=3></uib-pagination>
                </div>
          </div>
        </div>
    </div>
</section>
