<section id="contact-page">
      <div class="container">
          <div class="center">
              <h2>Drop Your Message</h2>
              <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="row contact-wrap">
              <div class="status alert alert-success" style="display: none"></div>
              <form id="login_form" name="login_form" class="contact-form">
                  <div class="col-sm-4 col-sm-offset-1">
                      <div class="form-group">
                          <label>Username *</label>
                          <input required ng-model="form.user" type="text" name="l_username" id="l_username" class="form-control">
                      </div>
                      <div class="form-group">
                          <label>Password *</label>
                          <input required ng-model="form.pass" type="password" name="l_password" id="l_password" class="form-control">
                          <span class='error' ng-show="err"> {{errorpass}}</span>
                      </div>
                      <div class="form-group">
                          <input type="submit" class="btn btn-primary btn-lg" name="submitLog" id="submitLog" ng-click="login()" ng-show="login_form.l_username.$valid && login_form.l_password.$valid" value="Sign In" />
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label>¿No estas registrado? Registrate aquí</label></br>
                          <a href="#/login/signup/"><button type="button" name="signin" id="signup" class="btn btn-primary btn-lg" required="required"><i class="glyphicon glyphicon-user"></i> Sign Up</button></a>
                      </div>
                    </br></br></br>
                      <div class="form-group">
                          <label>¿Has olvidado la contraseña?</label>
                          <a href="#/login/recover"><button type="button" name="recover" id="recover" class="btn btn-primary btn-lg" required="required"><i class="glyphicon glyphicon-asterisk"></i> Recover Password</button></a>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <button type="button" class="btn btn-primary btn-lg" ng-click='loginFb()' id="fb_login">FACEBOOK</button></br></br>
                      <button type="button" class="btn btn-primary btn-lg" ng-click='loginTw()' id="tw_login">TWITTER</button></br></br>
                      <button type="button" class="btn btn-primary btn-lg" ng-click='loginG()' id="g_login">GOOGLE+</button>
                  </div>
              </form>
          </div><!--/.row-->
      </div><!--/.container-->
  </section><!--/#contact-page-->
