<section id="contact-page">
      <div class="container">
          <div class="center">
              <h2>Change</h2>
              <p>Change your password here</p>
          </div>
          <div class="row contact-wrap">
              <form id="changepass_form" name="changepass_form" name="restore_form">
                <div>
                      <div class="form-group">
                          <label>New Password *</label>
                          <input required ng-model="changepass.inputPassword" type="password" id="inputPassword" name="inputPassword" class="form-control">
                          <span class="text-danger" ng-show="changepass_form.inputPassword.$error.required && (changepass_form.inputPassword.$dirty || changepass_form.inputPassword.$touched)">El campo es obligatorio</span>
                      </div>
                      <div class="form-group">
                          <label>Repeat the New Password *</label>
                          <input required ng-model="changepass.inputPassword2" type="password" id="inputPassword2" name="inputPassword2" class="form-control">
                          <span class="text-danger" ng-show="changepass_form.inputPassword2.$error.required && (changepass_form.inputPassword2.$dirty || changepass_form.inputPassword2.$touched)">El campo es obligatorio</span>
                      </div>
                      <div class="form-group">
                        <input class="btn btn-primary" type="button" name="submit" id="changeBtn" value="Enviar"
                               ng-show="changepass_form.inputPassword.$valid && changepass_form.inputPassword2.$valid && changepass.inputPassword === changepass.inputPassword2" ng-click="SubmitChangePass()"/>
                      </div>
                </div>
              </form>
          </div><!--/.row-->
      </div><!--/.container-->
  </section><!--/#contact-page-->
