<section id="contact-page">
      <div class="container">
        <div class="center">
            <h2 id="username">{{user.username}}</h2>
            <p>Set your profile here.</p>
        </div>
        <!-- {{user}} -->
          <div class="row contact-wrap">
              <div class="status alert alert-success" style="display: none"></div>
              <form id="profile_form" name="profile_form" class="contact-form">
                <img id="avatar_user" src="{{user.userpic}}" width="100" height="100"/>
                <br/> <br/>
                  <div class="col-sm-4 col-sm-offset-1">
                      <div class="form-group">
                          <label>Name *</label>
                          <input type="text" required id="inputName" ng-model="user.name" name="inputName" ng-pattern="/^\D{3,30}$/"
                          class="form-control" dir="auto" ng-minlength="2" maxlength="100" ng-change="change_profile()">
                          <span class='error' ng-show="!profile_form.inputName.$valid && profile_form.inputName.$error.required && (profile_form.inputName.$dirty || profile_form.inputName.$touched)" >Nombre no válido</span>
                          <span class="text-danger" ng-show="profile_form.inputName.$error.pattern">Nombre no válido</span><br />
                          <span class="text-danger" ng-show="AlertMessage" ng-model="user.nombre_error">{{user.nombre_error}}</span>
                      </div>
                      <div class="form-group">
                          <label>Birth Date *</label>
                          <input id="calendar" name="calendar" class="form-control" calendar ng-model="user.birth_date">
                      </div>
                      <!-- <div class="form-group">
                        <label class="pefil">Password *</label>
                        <input type="password" id="p_password" name="p_password" class="form-control">
                      </div> -->
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label class="pefil">Pais *</label>
                          <select name="pais" class="form-control" ng-model="user.pais"ng-options="item.name for item in paises"
                          placeholder="Pais" id="pais" ng-change="resetPais()">
                              <option value="">Seleccione un pais</option>
                          </select>
                          <span class="text-danger" ng-show="AlertMessage" ng-model="user.pais_error">{{user.pais_error}}</span>
                    </div>
                    <div class="form-group">
                        <label class="pefil">Liga *</label>
                            <select name="liga" class="form-control" id="liga"  ng-options="item.name for item in ligas"
                            ng-model="user.liga" placeholder="Liga" ng-change="resetValues()" ng-disabled="!user.pais.id">

                                <option value="">Seleccione una liga</option>
                            </select>
                            <span class="text-danger" ng-show="AlertMessage" ng-model="user.liga_error">{{user.liga_error}}</span>
                    </div>
                    <div class="form-group">
                        <label class="pefil">Equipo *</label>
                            <select type="text" class="form-control" name="equipo" ng-model="user.equipo"
                            ng-options="item.name for item in equipos "placeholder="Equipo" id="equipo" ng-disabled="!user.liga.id" >

                                <option value="">Seleccione un equipo</option>
                            </select>
                            <span class="text-danger" ng-show="AlertMessage" ng-model="user.equipo_error">{{user.equipo_error}}</span>
                    </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="form-group">
                        <div class="msg" ></div>
                        <br/>
                        <button id="dropzone" dropzone="dropzoneConfig" class="dropzone"></button>
                      </div>
                      <div class="form-group">
                        <label class="email pefil">Email *</label>
                        <input required type="text" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i"
                        id="inputEmail" ng-disabled="{{controlmail}}" ng-model="user.email" name="inputEmail" class="form-control" ng-change="change_profile()">
                        <span class='error' ng-show="!profile_form.inputEmail.$valid && profile_form.inputEmail.$error.required && (profile_form.inputEmail.$dirty || profile_form.inputEmail.$touched)" >Email no válido</span>
                        <span class="text-danger" ng-show="profile_form.inputEmail.$error.email">Email no valido</span>
                        <span class="text-danger" ng-show="AlertMessage" ng-model="user.email_error">{{user.email_error}}</span>
                      </div>
                      <div class="form-group">
                        <input class="submit_user btn btn-primary btn-lg" type="button" ng-click="submit()" name="submit" id="submitBtn_user" value="Guardar"
                        ng-show="profile_form.inputName.$valid"/>
                      </div>
                  </div>
              </form>
          </div>
      </div><!--/.container-->
  </section><!--/#contact-page-->
