<section id="contact-page">
      <div class="container">
          <div class="center">
              <h2>Recover</h2>
              <p>Send an email to change the password</p>
          </div>
          <div class="row contact-wrap">
              <form id="restore_form" class="contact-form" name="restore_form">
                <div>
                      <div class="form-group">
                          <label>Email *</label>
                          <input required ng-model="restore.inputEmail" type="email" id="inputEmail" name="inputEmail" class="form-control"
                          ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i">
                          <span class="text-danger" ng-show="restore_form.inputEmail.$error.required && (restore_form.inputEmail.$dirty || restore_form.inputEmail.$touched)">El campo es obligatorio</span>
                          <span class="text-danger" ng-show="restore_form.inputEmail.$error.email">Email no valido</span>
                      </div>
                      <div class="form-group">
                          <!-- <button type="button" name="login" id="login" ng-click="login()" class="btn btn-primary btn-lg" ng-show="contact-form.l_username.$valid && contact-form.l_password.$valid" value="Sign In"><i class="glyphicon glyphicon-log-in"></i> Log In</button> -->
                          <input class="btn btn-primary" type="submit" name="submit" id="restoreBtn" value="Enviar" ng-show="restore_form.inputEmail.$valid" ng-click="SubmitRestore()"/>
                      </div>
                </div>
              </form>
          </div><!--/.row-->
      </div><!--/.container-->
  </section><!--/#contact-page-->
