<section id="contact-page">
      <div class="container">
          <div class="center">
              <h2>Sign Up</h2>
              <p>Create your account here.</p>
          </div>
          <div class="row contact-wrap">
              <div class="status alert alert-success" style="display: none"></div>
              <form id="signup_form" name="signup_form" class="contact-form">
                <div class="col-sm-4 col-sm-offset-1">
                  <div class="form-group">
                      <label>Username *</label>
                      <input required ng-model="signup.inputUser" type="text" id="inputUser" name="inputUser" ng-pattern="/^.{4,20}$/"
                      class="form-control" dir="auto" maxlength="100" ng-change="change_signup()">
                      <span class="text-danger"
                      ng-show="signup_form.inputUser.$error.required && (signup_form.inputUser.$dirty || signup_form.inputUser.$touched)">El campo es obligatorio</span>
                      <span class="text-danger" ng-show="signup_form.inputUser.$error.pattern">Usuario no válido</span><br />
                      <span class="text-danger" ng-show="AlertMessage" ng-model="signup.user_error">{{signup.user_error}}</span>
                  </div>
                  <div class="form-group">
                      <label>Email *</label>
                      <input required ng-model="signup.inputEmail" type="email" id="inputEmail" name="inputEmail"
                      class="form-control" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i" ng-change="change_signup()">
                      <span class="text-danger" ng-show="signup_form.inputEmail.$error.required && (signup_form.inputEmail.$dirty || signup_form.inputEmail.$touched)">El campo es obligatorio</span>
                      <span class="text-danger" ng-show="signup_form.inputEmail.$error.email">Email no valido</span>
                      <span class="text-danger" ng-show="AlertMessage" ng-model="signup.email_error">{{signup.email_error}}</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                      <label>Password *</label>
                      <input required ng-model="signup.inputPass" type="password" id="inputPass" name="inputPass" ng-pattern="/^.{6,12}$/"
                      class="form-control" dir="auto" ng-change="change_signup()">
                      <span class="text-danger" ng-show="signup_form.inputPass.$error.required && (signup_form.inputPass.$dirty || signup_form.inputPass.$touched)">El campo es obligatorio</span>
                      <span class="text-danger" ng-show="signup_form.inputPass.$error.pattern">Passwd no válido</span><br />
                      <span class="text-danger" ng-show="AlertMessage" ng-model="signup.pass_error">{{signup.pass_error}}</span>
                  </div>
                  <div class="form-group">
                      <label> Repeat the password *</label>
                      <input required ng-model="signup.inputPass2" type="password" id="inputPass2" name="inputPass2"
                      class="form-control" dir="auto" ng-change="change_signup()"/>
                      <span class="text-danger" ng-show="signup_form.inputPass2.$error.required && (signup_form.inputPass2.$dirty || signup_form.inputPass2.$touched)">El campo es obligatorio</span>
                      <span class="text-danger" data-ng-show="signup.inputPass !== signup.inputPass2"> Password do not match</span>
                  </div>
                </div>
                <div class="col-sm-2">
                  <input type="hidden" name="token" value="signup_form" />
                  <br/>
                  <input class="btn btn-primary" type="button" name="submit" id="submitBtn" value="Enviar"
                         ng-show="signup_form.inputUser.$valid && signup_form.inputEmail.$valid && signup_form.inputPass.$valid
                         && signup_form.inputPass2.$valid  && signup.inputPass === signup.inputPass2" ng-click="SubmitSignUp()"/>
                </div>
                <div id="resultMessage"></div>
              </form>
          </div><!--/.row-->
      </div><!--/.container-->
  </section><!--/#contact-page-->
