<script src="frontend/modules/contact/view/lib/bootstrap-button.js"></script>
<div class="container">
  <div class="center">
      <h2>Contact Us</h2>
  </div>
  <div class="row contact-wrap">
    <form id="contact_form" name="contact_form" class="form-contact">
      <div class="col-sm-5 col-sm-offset-1">
        <div class="form-group">
          <span class="input input--chisato">

            <label class="input__label input__label--chisato" for="inputName">
              <span class="input__label-content input__label-content--chisato" data-content="Name">Name</span>
            </label>
            <input required ng-model="contact.inputName" type="text" id="inputName" name="inputName" placeholder="" class="input__field input__field--chisato form-control" dir="auto" maxlength="100">
            <span class="text-danger" ng-show="contact_form.inputName.$error.required && (contact_form.inputName.$dirty || contact_form.inputName.$touched)">The name is required</span>

          </span>
        </div>

        <div class="form-group">
          <span class="input input--chisato">

            <label class="input__label input__label--chisato" for="inputEmail">
              <span class="input__label-content input__label-content--chisato" data-content="Email">Email</span>
            </label>
            <input required ng-model="contact.inputEmail" type="email" id="inputEmail" name="inputEmail"
             placeholder="" class="input__field input__field--chisato form-control" maxlength="100"
             ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i">
                <span class="text-danger" ng-show="contact_form.inputEmail.$error.required && (contact_form.inputEmail.$dirty || contact_form.inputEmail.$touched)">The email is required</span>
                <span class="text-danger" ng-show="contact_form.inputEmail.$error.email">The email is not valid</span>

          </span>
        </div>
      </div>

      <div class="col-sm-5">
        <div class="form-group">
          <span class="input input--chisato">

            <label class="input__label input__label--chisato" for="inputSubject">
              <span class="input__label-content input__label-content--chisato" data-content="Subject">Subject</span>
            </label>
            <input required ng-model="contact.inputSubject" type="text" id="inputSubject" name="inputSubject" placeholder="" class="input__field input__field--chisato form-control" dir="auto" maxlength="100">
            <span class="text-danger" ng-show="contact_form.inputSubject.$error.required && (contact_form.inputSubject.$dirty || contact_form.inputSubject.$touched)">The subject is required</span>
          </span>

        </div>
          <!-- </span> -->
        <div class="form-group">
           <textarea required ng-model="contact.inputMessage" class="input-block-level form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Your comment here..." style="max-width: 100%;" dir="auto"></textarea>
                <span class="text-danger" ng-show="contact_form.inputMessage.$error.required && (contact_form.inputMessage.$dirty || contact_form.inputMessage.$touched)">The comment is required</span>


          <input class="btn btn-primary" type="submit" name="submit" id="submitBtn" value="Send"
                   ng-show="contact_form.inputName.$valid && contact_form.inputEmail.$valid && contact_form.inputSubject.$valid && contact_form.inputMessage.$valid"
                   ng-click="SubmitContact()"/>
        </div>
      </div>
      <!-- {{message}} -->
    </form>
  </div>
</div>
