<div class="slider">
  <div class="slide" ng-repeat="image in images" ng-show="image.visible">
    <img ng-src="frontend/assets/css/img/{{image.src}}" />
  </div>
  <div class="arrows">
    <a ng-click="prev()">
      <img src="frontend/assets/css/img/left_arrow.png" />
    </a>
    <a ng-click="next()">
      <img src="frontend/assets/css/img/right_arrow.png" />
    </a>
  </div>
</div>
