<!-- <div ng-controller="SliderController"> -->
<div class="center">
  <slider images="images" />
</div>
<!-- </div> -->
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<div ng-app="myapp" >
  <!-- ng-controller="playersCtrl" -->
    <!-- Search events: <input type="text" class="filtre" ng-model="filtro" > -->
    <br/>
    <div class="center">
        <h2>Categories</h2>
    </div>
    <br/>
    <input type="text" ng-model="text" ng-keyup="complete(text)" class="form-control"/>
    <ul class="list-group">
       <!-- ng-model="hidethis" ng-hide="hidethis" -->
      <li class="list-group-item" ng-repeat="all in filterCategories | filter:text" id="{{all.id}}" ng-click="fillTextbox(all.name)">{{all.name}}</li>
    </ul>
</div>


  <div class="of"  ng-repeat="of in category | limitTo:limit | filter:text">
    <div class="col-md-2">
          <strong><a style="color: white; background-color: #109173; border-style: solid; border-width : 3px 3px 3px 3px; text-decoration : none; padding : 4px;0 border-color :black;"
          href="#/players/where/{{of.id}}">{{of.name}}</a></strong>
          <!-- <button class="btn" id="{{of.id}}">{{of.name}}</button> -->
    </div>
  </div>
  <button style="width:120px;text-align:center;margin:auto" class="more btn btn-primary btn-block" ng-show="dis" ng-click="loadMore()">Load More!</button>
