<!-- footer -->
<footer>
  <div class="inner-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 f-about">
          <a href="index.html"><h1><span>e</span>Nno</h1></a>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu libero
          vestibulum volutpat libero sollicitudin vitae Curabitur ac aliquam  consectetur adipiscing elit Cras suscipit arcu libero
          </p>
        </div>
        <div class="col-md-4 l-posts">
          <h3 class="widgetheading">Latest Posts</h3>
          <ul>
            <li><a href="#">This is awesome post title</a></li>
            <li><a href="#">Awesome features are awesome</a></li>
            <li><a href="#">Create your own awesome website</a></li>
            <li><a href="#">Wow, this is fourth post title</a></li>
          </ul>
        </div>
        <div class="col-md-4 f-contact">
          <h3 class="widgetheading">Stay in touch</h3>
          <a href="#"><p><i class="fa fa-envelope"></i> example@gmail.com</p></a>
          <p><i class="fa fa-phone"></i>  +345 578 59 45 416</p>
          <p><i class="fa fa-home"></i> Enno inc  |  PO Box 23456
            Little Lonsdale St, New York <br>
            Victoria 8011 USA</p>
        </div>
      </div>
    </div>
  </div>


  <div class="last-div">
    <div class="container">
      <div class="row">
        <div class="copyright">
          © 2014 eNno Multi-purpose theme | <a target="_blank" href="http://bootstraptaste.com">Bootstraptaste</a>
        </div>
                  <!--
                      All links in the footer should remain intact.
                      Licenseing information is available at: http://bootstraptaste.com/license/
                      You can buy this theme without footer links online at: http://bootstraptaste.com/buy/?theme=eNno
                  -->
      </div>
    </div>
    <div class="container">
      <div class="row">
        <ul class="social-network">
          <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook fa-1x"></i></a></li>
          <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter fa-1x"></i></a></li>
          <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin fa-1x"></i></a></li>
          <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest fa-1x"></i></a></li>
          <li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus fa-1x"></i></a></li>
        </ul>
      </div>
    </div>

    <a href="" class="scrollup"><i class="fa fa-chevron-up"></i></a>


  </div>
</footer>

<!-- //footer -->
	<!-- menu -->
	<!-- js -->
	<script type="text/javascript" src="frontend/assets/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="frontend/assets/js/modernizr.custom.46884.js"></script>
	</body>
</html>
