<!-- Header -->
<div id="alertbanner" ng-show="bannerV"><a  ng-class='bannerClass'>{{bannerText}}</a></div>
<div ng-controller="menuCtrl">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#/"><span>eNno</span></a>
      </div>
      <div class="navbar-collapse collapse">
        <div class="menu">
          <ul class="nav nav-tabs" role="tablist">
            <!-- <li>
              <a href="#/create">CREATE</a></li> -->
            <li><a href="#/players">PLAYERS</a></li>
            <li><a href="#/contact">CONTACT</a></li>
              <!-- <ul class="agile_forms"> -->

                <li id="LogProf">
                      <a id="acceder" ng-show="accederV" href="#/login">LOGIN</a>
                      <a id='profile' ng-show="profileV" href='#/user/profile'>
                        <img ng-show="profileV" id='menuImg' class='icon rounded' src='{{avatar}}' width="50" height="50"/>{{nombre}}</a>
                </li>
                <li><a id='liked' ng-show="likedV" href="#/liked">FAVORITE PLAYERS</a></li> 
                <li><a id='logout' ng-show="logoutV" ng-click='logout()' >LOG OUT</a></li>
              <!-- </ul> -->
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
